{% extends "website/base.html" %}

{% block content %}

<br />
<center><h2> {{ group_name }} Census {{ version }}</h2></center>

<h4> Bienvenid@ a Census</h4><br />

<p>Census es una simple aplicación web para llevar el censo de los chavales apuntados a un grupo eskaut. El objetivo
de la misma es facilitarle la vida al coordinador del grupo, ya que de esta manera, los datos de los chavales se
encuentran siempre accesibles y centralizados. Con esto evitamos el tener copias de censos desactualizados y permitimos el acceso a los datos de los chavales al resto de monitores.</p>
<p>Entre las posibilidades que nos ofrece esta herramienta encontramos:</p>
<ul>
	<li> Añadir, modificar y eliminar chavales al censo.
	<li> Hacer busquedas con varios criterios de busqueda.
	<li> Exportar en formato pdf las busquedas que hagamos.
	<li> Exportar etiquetas para pegar en sobres con la dirección de los chavales.
</ul>

<p> Si quieres visitar la pagina web del grupo, deberas dirigirte a <a href="{{ group_web }}">{{ group_web }}</a></p>

<center><img alt="flor-lis.png" src="/static/images/flor-lis.png"></center>

{% endblock %}
