	<div id="menu">
		<ul id="nav">
			<li class="page_item"><a href="#">Censo</a>
				<ul>
					<li><a href="/new/">Insertar un nuevo chaval/a</a></li>
					<li><a href="/search/">Realizar una búsqueda</a></li>
				</ul>
			</li>
			<li class="page_item"><a href="#">Utilidades</a>
				<ul>
					<li><a href="/export/">Exportar datos</a></li>
					<li><a href="/mailing/">Circulares</a></li>
				</ul>
			</li>
			<li class="page_item"><a href="#">Configuración</a>
				<ul>
					<li><a href="/users/">Usuarios</a></li>
					<li><a href="/ramas/">Ramas</a></li>
				</ul>
			</li>
			<!--
			<li class="page_item"><a href="#">Administración</a>
				<ul>
					<li><a href="index2.php?section=admin_grupos">Grupos</a></li>
					<li><a href="index2.php?section=admin_privilegios">Privilegios</a></li>
				</ul>
			</li>
			-->
			<li class="page_item"><a href="/logout/">Salir</a></li>
		</ul>
			
		<script src="/static/js/mootools-1.2-core-min.js" type="text/javascript" charset="utf-8"></script>
        	<script src="/static/js/menuMatic_0.67.js" type="text/javascript" charset="utf-8"></script>
        	<script type="text/javascript" >
       	        	window.addEvent('domready', function() {
                      		var myMenu = new MenuMatic();
               		});
        	</script>
	</div>
