<div id="sidebar">
<ul>
    <li>
      <h2 class="sidebartitle">Búsqueda rápida de chavales</h2>
	<form method="post" id="searchform" action="index2.php?section=chavales&task=show&rama=0">
		<div><input type="text" value="" name="nombre" id="s" />
			<input type="submit" id="searchsubmit" value="Buscar" />
		</div>
	</form>
    </li>

    <li>
      <h2 class="sidebartitle">Ramas</h2>
      <ul>
	{% for rama in ramas_list %}
		<li><a href='/search/{{ rama.nombre }}'>{{ rama.nombre }} [{{ rama.id}}]</a></li>
	{% endfor %}
	
	{% for rama in ramas_count %}
		<li><a href='/search/{{ rama.nombre }}'>{{ rama.rama }} [{{ rama.rama__count}}]</a></li>
	{% endfor %}
      </ul>
    </li>
	
    <li>
      <h2 class="sidebartitle">Ayuda</h2>
      <ul>
      	<li><a href="/manual/">Manual de usuario</a></li>
      	<li><a href="/faq/">F.A.Q. (preguntas frecuentes)</a></li>
      </ul>
    </li>
 </ul>
</div>
<!--/sidebar -->
