body {
	margin: 0px;
	padding: 0px;
	color : #333;
	background : #3FABD9 url('/static/images/login/main-bg.jpg') top center repeat-x;
	font-size : 11px;
	font-family : Arial, Helvetica, sans-serif;
}

#wrapper {
        border: 0px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
}

#header {
        background-color: #FFF;
        background-position: right top;
        background: url('/static/images/login/header_bg.png');
}

#logo {
        position: relative;
        width: 100%;
        margin: 0px;
        padding: 0px;
}

#break {
	height: 50px;
}

form {
    margin: 0px;
}

.button {
  border: 1px solid #CCCCCC;
	background: #F1F3F5;
	color: #777971;	
	font-weight : bold;
	font-size : 11px;
	padding: 4px;
}

.login {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6em;
	padding: 15px;
	width: 400px;
  border: 1px solid #CCCCCC;
	background: #F1F3F5;
	color: #777971;	
	text-align: justify;
}
	
.login h1 {
	background: url('/static/images/login/login_header.png') no-repeat;
	background-position: left top;
	color: #333;
	margin: 0px;
	height: 50px;
	padding: 15px 4px 0 50px;
 	text-align: left;
	font-size: 1.5em;
}

.login p {
	padding: 0 1em 0 1em;
	}
	
.form-block {
	border: 1px solid #CCCCCC;
	background: #E9ECEF;
	color: #000;	
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.login-form {
	text-align: left;
	float: right;
	width: 60%;
}

.login-text {
	text-align: justify;
	width: 40%;
	float: left;
}

.inputlabel {
	font-weight: bold;
	text-align: left;
	}

.inputbox {
	width: 150px;
	margin: 0 0 1em 0;
	border: 1px solid #CCCCCC;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	}

.clr {
    clear:both;
    }

.ctr {
	text-align: center;
}

.version {
	font-size: 0.8em;
}

.footer {
	color: white;
}
.message {
	margin-top: 10px; 
	padding: 7px; 
	width: 400px;
	border: 1px solid #CCCCCC;
	background: #F1F3F5;
	color: #CC0000;	
	font-weight: bold;
	font-size: 12px;
}
.menubackgr {
	background: #E8E8E8;
	border-bottom: 1px solid #cccccc;

}
